**.DS_Store
.vscode
www/c/.DS_Store
www/.DS_Store
www/c/*
.DS_Store
key.pem
cert.pem
sfc_del.py
test.py
.idea/misc.xml
.idea/modules.xml
.idea/sfc.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
testConfig.json
db/log.db
db/users.db
